@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700&display=swap');
:root {
  --color-white:#fff;
  --color-grey:#303030;
  --font-family-firaSans: 'Fira Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 65%;
}
body {
  background-color: #fff;
  font-family: var(--font-family-firaSans);
  font-size: 1.5rem;
}